
#img {
    border-radius: 50%;
    /* height: 20rem; */
   
}


#navbar {
    
    
}


.box {
    height: 100%;
    margin: 20px;
    border-radius: 5px;
    background: #fdfcfd;
    box-shadow:  -9px 9px 10px #afaeaf,
             9px -9px 10px #ffffff;
}


.grid {
    margin-top: 5rem;
    min-height: 100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.img-container {
    height: 200px;
    width: 75%;
    margin-top: 2rem;
    
}

.image {
    border-radius: 5px;
    /* box-shadow:  -9px 9px 10px #afaeaf,
    9px -9px 10px #ffffff; */
}
