
.img {
    border-radius: 50%;
    box-shadow:  -9px 9px 10px #afaeaf,
             9px -9px 10px #ffffff;
    /* height: 20rem; */
   
}

.box {
    height: 100%;
    margin: 20px;
    border-radius: 20px;
    background: #fdfcfd;
    box-shadow:  -9px 9px 10px #afaeaf,
             9px -9px 10px #ffffff;
}


.grid {
    margin-top: 5rem;
    min-height: 100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.img-container {
    display: flex;
    height: auto;
    max-height: 250px;
    width: auto;
    max-width: 250px;

    margin-top: 2rem;
    justify-content: center;
    
}

.image {
    border-radius: 5px;
    height: auto;
    max-height: 250px;
    width: auto;
    max-width: 250px;
}

.site-links {
    
    color: black;
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.git-links {
    color: black;
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#nav-links {
    color: black;
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}


.burger {
    margin-right: 1rem;
}

.brand {
    margin-left: 1rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.resume-container {
    display: flex;
    justify-content: center;

}

#about {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}



/* .resume {
    justify-content: center;
} */

/* .container{
    margin-top: 4rem;
} */